@use "sass:map";

$colors: (
  //base
  "orange": #ef6f6c,
  "blue": #5f88c2,
  "green": #8a9b68,
  "indygo": #5c6cad,
  "darkBlue": #29335c,
  //general
  "primary": #5c6cad,
  "secondary": #29335c,
  //status
  "succes": green,
  "warn": yellow,
  "error": red,
  //additional
  "background": #f2efe1,
  "dark": #171a18,
  "white": #f1f1f1
);

// Font sizes map
$font-sizes: (
  "main-font": 62.5%,
  // 62.5% means that 1.45rem = 14,5px
  "body-font": 1.6rem,
  "xs": 1.6rem,
  "sm": 1.8rem,
  "md": 2rem,
  "lg": 2.5rem,
  "xl": 3.7rem,
  "xxl": 4.5rem,
);

// Fonts map
$fonts: (
  theme: ('Roboto', serif),
  secondary: ('Instrument Serif', serif)
);

// Font colors map
$font-colors: (
  "theme": map.get($colors, "darkBlue"),
  "secondary": map.get($colors, "orange"),
  "btn-default": map.get($colors, "dark"),
  "btn-default-hover": map.get($colors, "white"),
  "menu-links": inherit,
  "href": inherit,
  "href-hover": inherit,
);

// Background colors map
$background-colors: (
  "theme": map.get($colors, "background"),
  "btn-default": map.get($colors, "background"),
  "btn-default-hover": map.get($colors, "primary"),
);

// Breakpoints map
$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1450px,
);

//used in grid.scss
$max-width-values: (
  xs: 200px,
  sm: 400px,
  md: 600px,
  lg: 800px,
  xl: 1000px,
  2xl: 1200px,
  3xl: 1400px,
  4xl: 1600px,
  5xl: 1800px,
  6xl: 2000px,
  7xl: 2200px,
);

//paths
//f.e  background-image: url('#{$assets}img/instagram.svg');
$assets: "../../assets/";
$images: "../../assets/img/";
$sprite-url: "#{$assets}img/sprite.svg";
