@use "../shared/variables" as *;

$spacing-sizes: (
  0: 0,
  1: 0.5rem,   // 5px
  2: 1rem,     // 10px
  3: 1.5rem,   // 15px
  4: 2rem,     // 20px
  5: 3rem,     // 30px
  6: 4rem,     // 40px
  7: 5rem,     // 50px
  8: 6rem,     // 60px
  9: 8rem,     // 80px
  10: 10rem    // 100px
);


@mixin generate-spacing($type, $property) {
  @each $size, $value in $spacing-sizes {
    .#{$type}-#{$size} { #{$property}: $value !important; }

    @each $bp, $width in $breakpoints {
      @media (min-width: #{$width}) {
        .#{$bp}\:#{$type}-#{$size} {  // Escaping ":" for correct class name
          #{$property}: $value !important;
        }
      }
    }
  }
}

// Margins
@include generate-spacing("m", "margin");
@include generate-spacing("mt", "margin-top");
@include generate-spacing("mr", "margin-right");
@include generate-spacing("mb", "margin-bottom");
@include generate-spacing("ml", "margin-left");

// Paddings
@include generate-spacing("p", "padding");
@include generate-spacing("pt", "padding-top");
@include generate-spacing("pr", "padding-right");
@include generate-spacing("pb", "padding-bottom");
@include generate-spacing("pl", "padding-left");

//additional utilites class
.m-auto {
  margin-left: auto;
  margin-right: auto;
}


