@use "../shared/variables" as *;
@use "sass:map";


// Usage: <div class="bg-primary">Primary background color</div>
@each $name, $color in $colors {
    .bg-#{$name} {
      background-color: $color;
    }
  }
  
  // Usage: <p class="text-warn">Warn text color</p>
  @each $name, $color in $colors {
    .text-#{$name} {
      color: $color;
    }
  }
  
  // Usage: <h1 class="text-xl">Extra large font size</h1>
  // Usage: <h1 class="text-xs lg:text-lg">Extra large font size from breakpoint LG</h1>

  @each $label, $size in $font-sizes {
    .text-#{$label} {
      font-size: $size;
    }
  
    @each $bp, $width in $breakpoints {
      @media (min-width: #{$width}) {
        .#{$bp}\:text-#{$label} { 
          font-size: $size;
        }
      }
    }
  }
  

  
  // Usage: <p class="font-secondary"></p>
  @each $label, $font in $fonts {
    .font-#{$label} {
      font-family: $font;
    }
  }


  @each $weight in (100, 200, 300, 400, 500, 600, 700, 800, 900) {
    .bold-#{$weight} {
      font-weight: $weight;
    }
  }

  .font-italic {
    font-style:italic;
  }

  .text-center {
    text-align: center;
  }
