@use 'shared/variables' as var;


$max-width-values: (
  xs: 200px,
  sm: 400px,
  md: 600px,
  lg: 800px,
  xl: 1000px,
  2xl: 1200px,
  3xl: 1400px,
  4xl: 1600px,
  5xl: 1800px,
  6xl: 2000px,
  7xl: 2200px
);

@each $name, $value in $max-width-values {
  .max-w-#{$name} {
    max-width: $value;
  }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  [class*='col-'] {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  

@mixin generate-grid-classes($prefix, $breakpoint: null) {
    $media-query: if($breakpoint, "min-width: #{$breakpoint}", null);
  
    @if $media-query {
      @media (#{$media-query}) {
        @for $i from 1 through 12 {
          $percentage: $i * 8.333333%;
          .#{$prefix}-#{$i} {
            flex: 0 0 $percentage;
            max-width: $percentage;
          }
        }
      }
    } @else {
      @for $i from 1 through 12 {
        $percentage: $i * 8.333333%;
        .#{$prefix}-#{$i} {
          flex: 0 0 $percentage;
          max-width: $percentage;
        }
      }
    }
  }
  
  @include generate-grid-classes('col');
  @include generate-grid-classes('col-sm', var.$breakpoint-sm);
  @include generate-grid-classes('col-md', var.$breakpoint-md);
  @include generate-grid-classes('col-lg', var.$breakpoint-lg);
  @include generate-grid-classes('col-xl', var.$breakpoint-xl);
  @include generate-grid-classes('col-xl', var.$breakpoint-xll);