@use "shared/variables" as *;
@use "shared/mixins" as *;
@use "sass:map";

$mask-color: map.get($background-colors, "theme");
$mb-header-padding: 1rem;
$mb-header-height: calc(50px + $mb-header-padding);
$mb-menu-beakpoint: 960px;

.main-header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  max-width: 2400px;

  .main-header-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }

  ul.social-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  ul.primary-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .menu-item a {
      padding: 0.5em;
    }
  }

  .page-logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      object-fit: contain;
      max-height: 100%;
      width: 35px;
    }

    .caption {
      display: none;
    }

    @include lg {
      img {
        width: 55px;
      }
      .caption {
        display: block;
        font-weight: 400;
        padding-right: 1rem;
        opacity: 1;
        color: map.get($colors, "darkBlue");

        .large {
          font-size: 1.9rem;
        }
        .small {
          font-size: 1.4rem;
        }
      }
    }
  }
}

.social-wrapper {
  a {
    svg {
      height: 22px;
    }
  }
  border-top: 1px solid map.get($colors, "darkBlue");
  padding-top: 17px;

  @media (min-width: 960px) {
    padding-top: 0;
    border-top: 5px;
    padding-left: 1.5rem;
    border-left: 1px solid map.get($colors, "darkBlue");
  }
}

#mb-menu-toggler {
  display: none;
  position: relative;
  min-height: 2.5rem;
  min-width: 2.5rem;
  border: 0;
  background-color: transparent;

  .open-icon,
  .close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);

    opacity: 1;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    pointer-events: none;
    color: map.get($colors, "darkBlue");
  }

  .close-icon {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8) rotate(-90deg);
  }
}

.mobile-menu--open #mb-menu-toggler {
  .open-icon {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8) rotate(90deg);
  }

  .close-icon {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
}

@media (max-width: $mb-menu-beakpoint) {
  .main-header {
    padding: $mb-header-padding;
    max-height: $mb-header-height;
    position: relative;
    width: 100%;
    z-index: 999;

    ul.primary-nav {
      flex-direction: column;
      li {
        text-align: center;
        font-size: 2.3rem;
      }
    }
  }

  #mb-menu-toggler {
    z-index: 9999;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
  }

  .main-header-nav-container {
    flex-direction: column;
    justify-content: flex-start !important;
    gap: 1rem;
    max-height: 0;
    width: 110%;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: -12px;
  }

  body.mobile-menu--open {
    overflow: hidden;

    .main-header-nav-container {
      display: flex;
      height: calc(100vh - $mb-header-height);
      max-height: calc(100vh - $mb-header-height);
      overflow: auto;
      z-index: 999;
      background: rgb(246 251 255);
    }
  }

  body {
    position: relative;

    &::after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: $mask-color;
      z-index: 998;
      opacity: 0;
      transition:
        height 0.4s ease,
        opacity 0.4s ease;
      pointer-events: none;
    }

    &.mobile-menu--open::after {
      height: 100%;
      opacity: 1;
      pointer-events: auto;
    }
  }
}

//managment of toggle navbar on scroll
$heightNavbar: 125px;
#page {
  padding-top: $heightNavbar;
}

//add transitions
#navbar {
  .page-logo img {
    transition: 0.3s;
  }
  .caption {
    transition: 0.3s;
  }
}

#navbar {
  z-index: 999;
  position: fixed;
  padding: 2rem 1.5rem;
  width: 100%;
  max-width: 1920px;
  transition:
    top 0.3s,
    padding 0.3s ease;
  top: 0;
  background-color: rgba(246,251,255,.42)
}

#navbar.visible {
  top: 0;
}

#navbar.visible:not(.sticky) {
  padding: 0px 1.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
  background-color: rgb(246 251 255 / 93%);

  .caption {
    opacity: 0;
    line-height: 1em;
  }
  .page-logo img {
    width: 33px;
  }
}

#navbar.hidden {
  top: -$heightNavbar;
  .caption {
    opacity: 0;
    line-height: 1em;
  }
  .page-logo img {
    width: 33px;
  }
}

#navbar.sticky {
  padding: 2.5rem 1.5rem;
}
