@use "shared/variables" as *;
@use "sass:map";


html {
  scroll-behavior: smooth;
  font-family: map.get($fonts, "theme");
  font-size: map.get($font-sizes, "main-font");
  background-color: map.get($background-colors, "theme");
}

body {
  font-size: map.get($font-sizes, "body-font");
  line-height: 1.25;
  color: map.get($font-colors, "theme");
  min-height: 100vh;
}


h1,h2,h3,h4 {
  font-weight:300;
  margin: 0.67em 0;
}

h1 {
  font-size: map.get($font-sizes, "xxl");
}

h2 {
  font-size: map.get($font-sizes, "xl");
}

h3 {
  font-size: map.get($font-sizes, "lg");
}

h4 {
  font-size: map.get($font-sizes, "md");
}

a {
  text-decoration: none;
  background-color: transparent;
  color: map.get($font-colors, "href");
}

a:hover {
  color: map.get($font-colors, "href-hover");
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

#page {
  max-width: 1920px;
  margin: auto;
}


.breadcrumbs .icon:before {
  color: red;
  width: auto;
}

.breadcrumbs a {
  color: #808080;
}

.breadcrumbs a,
.breadcrumbs span,
.breadcrumbs p,
.breadcrumbs {
  text-transform: lowercase;
  display: inline-block;
}

.breadcrumbs a::first-letter,
.breadcrumbs span::first-letter,
.breadcrumbs p::first-letter,
.breadcrumbs::first-letter {
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  padding: 0;
}

//Sprite SVG
.icon {
  width: 32px;
  height: 32px;
  fill: currentColor;
  transition: fill 0.3s ease-in-out;
  //f.e single icon style:
  // &-iconName {
  //   color: red;
  //   width: 24px;
  //   height: 24px;
  // }
}

@media (max-width: 280px) {
  #wpadminbar {
    display: none !important;
  }
}
