@use "shared/variables" as *;
@use "normalize";
@use "utility/grid";
@use "utility/spacing";
@use "utility/typography";
@use "utility/utility";
@use "nav";
@use "sass:map";


//btns
.btn {
  padding: 0.3em 1.5rem;
  border-radius: 30px;
  font-size: 1.6rem;
  color: map.get($font-colors, "btn-default");
  background-color: map.get($background-colors, "btn-default");
  border: 2px solid map.get($colors, "primary");

  &:hover {
    color: map.get($font-colors, "btn-default-hover");
    background-color: map.get($background-colors, "btn-default-hover");
  }
}
