@use "shared/variables" as *;
@use "shared/mixins" as *;
@use "normalize";
@use "utility/grid";
@use "utility/spacing";
@use "utility/typography";
@use "utility/utility";
@use "nav";
@use "sass:map";

body {
  opacity: 0;
  animation: fadeInAnimation ease-in 0.3s;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//btns
.btn {
  display: inline-block;
  border-radius: 30px;
  font-size: 1.6rem;
  color: map.get($font-colors, "btn-default");
  background-color: map.get($background-colors, "btn-default");
  border: 2px solid map.get($colors, "darkBlue");
  font-weight: 500;
  transition: 0.3s;
  padding: 0.5em 0.85em;

  &:hover {
    color: map.get($font-colors, "btn-default-hover");
    background-color: map.get($background-colors, "btn-default-hover");
  }
}

.hero {
  &-container {
    position: relative;
    min-height: 390px;
    background-image: url("#{$images}header.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 45% auto;
    padding: 1rem;
    display: flex;
    align-items: center;

    @include sm {
      background-size: 45% auto;
      min-height: 470px;
    }

    @include lg {
      background-size: 50% auto;
      min-height: 670px;
    }

    @include xxl {
      background-size: 40% auto;
    }
  }

  &-container_inner {
    margin: 15px auto auto auto;
    max-width: 720px;
    display: flex;
    gap: 1rem;
    text-align: center;
    flex-direction: column;
    @include lg {
      margin: 80px auto auto auto;
    }

    @include xxl {
      margin: 120px auto auto auto;
    }
  }

  .btn-icon {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 25px);
  }

  .icon-chevron {
    color: map.get($colors, "orange");
    width: 50px;
    height: 50px;
  }
}

.container-w {
  max-width: 1560px;
  &.has-slider {
    max-width: calc(1560px + 72px);
  }
}

.container-sm {
  max-width: 1100px;
}

.btn-icon {
  background-color: transparent;
}

.title {
  color: map.get($colors, "darkBlue");
  font-size: 3.4rem;

  @include sm {
    font-size: 4.2rem;
  }

  @include md {
    font-size: 4.8rem;
  }

  @include lg {
    font-size: 5rem;
  }

  @include xl {
    font-size: 5.2rem;
  }

  @include xxl {
    font-size: 5.8rem;
  }
}

.subtitle {
  font-weight: 600;
  font-size: 16px;
  color: map.get($colors, "orange");
  text-transform: uppercase;
  letter-spacing: 2px;
}

.large-subtitle {
  color: map.get($colors, "darkBlue");
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1.5rem;

  @include sm {
    // font-size: 2.2rem;
  }

  @include lg {
    font-size: 3.4rem;
    margin-bottom: 2.5rem;
  }

  @include xl {
    font-size: 4.8rem;
  }

  @extend .font-mixed;
}

.page-title {
  color: map.get($colors, "darkBlue");
  font-size: 2.8rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1.5rem;

  @include sm {
    font-size: 3.8rem;
    margin-bottom: 2.5rem;
  }

  @include xl {
    font-size: 5.8rem;
  }

  @extend .font-mixed;
}

.font-mixed {
  > span {
    font-style: italic;
    font-family: map.get($fonts, secondary);
  }
}

.card-image {
  //  box-shadow: 0px 20px 40px 0px #3f445a4d;
  border-radius: 8px;
  min-height: 364px;
  width: 327px;
  max-width: 100%;
  background-color: #5c6cad;
  color: white;
  padding: 3.5rem 2rem 2rem 2rem;

  &_image {
    height: 180px;
    text-align: center;

    img {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &_desc {
    margin-top: 2.7rem;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
  }
}

.card-opinion {
  // box-shadow: 0px 20px 40px 0px #3f445a4d;
  border-radius: 8px;
  min-height: 230px;
  width: 460px;
  max-width: 100%;
  background: #5c6cad;
  color: white;
  padding: 3.5rem 2rem 4rem 2rem;
  position: relative;

  &_desc {
    font-size: 1.6rem;
    text-align: left;
  }

  &_author {
    text-align: right;
    font-size: 1.9rem;
    font-weight: 400;
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
  }
}

.single-slide {
  width: 100%;
  > div {
    margin: auto;
  }
}

.splide {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 4rem;
  .splide__arrow {
    background: transparent;
    svg {
      fill: map.get($colors, "orange");
      width: 2.2em;
      height: 2.2em;
    }
  }
  .splide__arrow--prev {
    left: 10px;
  }
  .splide__arrow--next {
    right: 10px;
  }

  @include md {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.splide__pagination {
  bottom: -30px !important;
}

.splide__pagination__page {
  background: #9b9393ab !important;
}

.splide__pagination__page.is-active {
  background: map.get($colors, "darkBlue") !important;
}

.accordion-button {
  color: map.get($colors, "darkBlue");
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 2px solid map.get($colors, "darkBlue");
  border-radius: 64px;
  outline: none;
  font-size: 1.6rem;
  margin-top: 3rem;
  background: transparent;
  @include lg {
    font-size: 2.3rem;
  }
}

.accordion-button:hover {
  // background-color: #ccc;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
  padding: clamp(1rem, 2vw, 3rem) clamp(1rem, 4vw, 6rem);
  max-width: 1250px;
}

.active + .panel {
  padding: 18px;
}

.close-accordion,
.open-accordion {
  display: none;
}

.accordion-button.active + .panel {
  max-height: none;
}

.accordion-button[aria-expanded="true"] .close-accordion {
  display: block;
}

.accordion-button[aria-expanded="true"] .open-accordion {
  display: none;
}

.accordion-button[aria-expanded="false"] .close-accordion {
  display: none;
}

.accordion-button[aria-expanded="false"] .open-accordion {
  display: block;
}
// end of accordion

.faq-container {
  max-width: 920px;
  margin: auto;
}

.section-padding {
  margin-top: clamp(1.5rem, 1.75vw, 2rem);
  padding-top: clamp(1.75rem, 2vw, 6rem);
  margin-bottom: clamp(1.5rem, 1.75vw, 2rem);
  padding-bottom: clamp(1.75rem, 2vw, 6rem);
}

.separator-x {
  width: 100%;
  height: 1px;
  margin: auto;
  background-color: map.get($colors, "darkBlue");
}

.main-footer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  .logo {
    max-height: 280px;
    width: 100px;
    max-width: 100%;
    object-fit: contain;

    @include sm {
      width: 140px;
    }

    @include xl {
      width: 230px;
    }
  }

  &_cols {
    border-top: 1px solid map.get($colors, "darkBlue");
    min-height: 250px;

    border-bottom: 1px solid map.get($colors, "darkBlue");
    border-top: 1px solid map.get($colors, "darkBlue");

    padding-top: clamp(2.5rem, 2vw, 5rem);
    padding-bottom: clamp(2.5rem, 2vw, 5rem);

    & > div {
      text-align: center;

      .social-icons {
        justify-content: center;
      }

      @include sm {
        .social-icons {
          justify-content: start;
        }
      }

      &:nth-child(2) {
        @include sm {
          text-align: inherit;
          padding-left: 4rem;
        }
      }

      &:nth-child(3) {
        display: none;
        @include sm {
          display: block;
          text-align: inherit;
          padding-left: 4rem;
        }
      }

      &:nth-child(4) {
        display: none;
        @include sm {
          text-align: inherit;
          display: block;
        }
      }
    }
  }

  &_bar {
    padding-top: clamp(1.25rem, 1.7vw, 3rem);
    padding-bottom: clamp(1.25rem, 1.7vw, 3rem);
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
}

.footer-nav {
  li {
    margin-bottom: 0.75rem;
    a {
      padding: 0.45em 0.45em 3px 0;
    }
  }
}

.links-line-hover a {
  position: relative;
  text-decoration: none;
  padding-bottom: 3px;
}

.links-line-hover a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: map.get($colors, "darkBlue");
  transition: width 0.25s ease-in-out;
}

@media (min-width: 760px) {
  //animation in mobile not work properly
  .links-line-hover a:hover::after {
    width: 100%;
  }
}

// Kontener formularza
.cf7-custom {
  max-width: 670px;
  width: 100%;
  margin: 0 auto;
  background: transparent;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  @include xl {
    margin: 0 0 0 auto;
  }

  .cf7-row {
    display: flex;
    gap: 10px;

    input {
      width: 50%;
    }
  }

  // Stylowanie pól formularza
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid map.get($colors, "darkBlue");
    border-radius: 6px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    background: transparent;

    &::placeholder {
      color: map.get($colors, "darkBlue");
      opacity: 1;
    }

    &:focus {
      border-color: #58abe2;
      outline: none;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
  }

  textarea {
    height: 120px;
    resize: vertical;
  }

  input[type="submit"] {
    display: inline-block;
    border-radius: 30px;
    font-size: 1.6rem;
    color: map.get($font-colors, "btn-default");
    background-color: map.get($background-colors, "btn-default");
    border: 2px solid map.get($colors, "darkBlue");
    font-weight: 500;
    transition: 0.3s;
    padding: 0.5em 1.25em;

    &:hover {
      color: map.get($font-colors, "btn-default-hover");
      background-color: map.get($background-colors, "btn-default-hover");
    }
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }

  .wpcf7-list-item {
    margin-bottom: 1.2rem;
  }

  .wpcf7-not-valid-tip {
    margin-top: 2px;
  }
  .wpcf7-spinner {
    width: 0;
    margin: 0;
  }
  form.submitting .wpcf7-spinner {
    width: 24px;
    margin: 0 24px;
  }

  .submit {
    text-align: right;
  }
}

.page-header {
  margin-top: clamp(3rem, 3vw, 5rem);
  margin-bottom: clamp(3rem, 3vw, 5rem);
  text-align: center;

  opacity: 0;
  transform: translateY(-40px);
  animation: fadeInAnimation 1s ease-out forwards;
}

.offer-list {
  &_container {
  }
  &_single {
    display: flex;
    align-items: center;
    gap: clamp(2.5rem, 3vw, 7rem);
    margin-bottom: clamp(5rem, 5vw, 10rem);
    &:nth-child(even) {
      .offer-list_image {
        order: 2;
        > div {
          margin-left: auto;
        }
      }
    }
  }
  &_content {
    flex: 2;
    order: 1;
  }
  &_image {
    flex: 1;
    max-width: 300px;
    > div {
      max-width: 100%;
      width: 240px;
      height: 240px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
  }
}

@include max-sm {
  #about-me {
    text-align: center;
  }
  .cf7-custom {
    padding: 15px;

    .cf7-row {
      flex-direction: column;

      input {
        width: 100%;
      }
    }
  }

  .offer-list {
    &_single {
      display: block;
    }
    &_image {
      margin: auto;
      > div {
        margin: auto;
      }
    }
    &_content {
      text-align: center;
    }
  }
}

.table-container {
  overflow-x: auto;
  max-width: 100%;

  table {
    width: 100%;

    td,
    th {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    tr th {
      color: #f65451;
      font-weight: 600;
      text-transform: uppercase;
      padding-bottom: 0.5rem;
    }

    tr td {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 1.6rem;
      color: map.get($colors, "darkBlue");

      @include sm {
        font-size: 1.8rem;
      }

      @include lg {
        font-size: 2.3rem;
      }
    }

    tr:not(:last-child) {
      border-bottom: 1px solid #29335c3d;
    }
  }
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: space-around;

  article {
    display: block;
    width: 360px;
    max-width: 100%;
  }

  .post-title {
    padding: 1rem 1.25rem 0 1.25rem;
    font-size: 1.9rem;
    order: 1;
    a {
      display: block;
    }
  }

  .post-card {
    background-color: #ffffff7d;
    background-color: #f2efe1;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .post-content {
    padding: 1.25rem;
    order: 2;
  }

  .img-url {
    display: block;
    order: 0;
    overflow: hidden;
  }

  .excerpt {
    color: #29335ce8;
  }

  .wp-post-image {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    height: 200px;
    transition:
      transform 0.3s ease-in-out,
      filter 0.3s ease-in-out;
    //image-rendering: crisp-edges;
    //image-rendering: -webkit-optimize-contrast;
  }

  .post-card a:hover .wp-post-image,
  .post-title:hover ~ .img-url .wp-post-image {
    transform: scale(1.075);
  }
}

.entry-content {
  //default page && post content
  margin-top: 10px;
  padding-bottom: clamp(2rem, 2vw, 3.5rem);

  ul {
    list-style: circle;
    padding-left: 20px;
    margin-top: 0.5rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0.75em;
    margin-bottom: 0.45em;
  }

  line-height: 1.5em;
  p,
  span {
    font-size: 1.8rem;
  }

  .aligncenter {
    text-align: center;
  }

  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

body.single-post {
  .entry-content {
    margin-top: clamp(2rem, 2vw, 3rem);
  }

  article.post {
    max-width: 1024px;
    margin: auto;
  }
}
