@import 'variables', 'normalize', 'grid';


html { 
  scroll-behavior: smooth;
  font-family: $primary-font;
  font-size: $main-font-size;
}

.page-title {font-size:$xxl-font-size;}
.section-title {font-size:$xxl-font-size;}


body {
  font-size:$body-font-size;
  line-height: $body-line-height;
  color: $primary-font-clr;
  background-color: $primary-bg-clr;
}


a {
text-decoration: none;
background-color: transparent;
color:$href-clr;
}

a:hover{color:$href-hov-clr;}


h1 {
 font-size: $xxl-font-size;
  margin: 0.67em 0;
}

h2 {
  font-size: $xl-font-size;
  margin: 0.67em 0;
}

h3 {
  font-size: $lg-font-size;
  margin: 0.67em 0;
}

h4 {
  font-size: $md-font-size;
  margin: 0.67em 0;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .img-rounded {
    border-radius: 6px;
  }
  .img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
  .img-circle {
    border-radius: 50%;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
  }



  .btn {
    font-size:$lg-font-size;
    text-transform: uppercase;
    padding:.3em;
    background-color: grey;
    border-radius:10px;
    color:#ffff;
  }


  #page {max-width:2560px; margin:auto}

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width:100%;
    width:90%;
    background:yellow;
  }



  .breadcrumbs .icon:before {color:red; width:auto}
  .breadcrumbs a {color:#808080
  }
  
  .breadcrumbs a, .breadcrumbs span, .breadcrumbs p, .breadcrumbs {
    text-transform: lowercase; 
  displaY:inline-block
  }
  
  .breadcrumbs a::first-letter, .breadcrumbs span::first-letter, .breadcrumbs p::first-letter, .breadcrumbs::first-letter {
   text-transform: uppercase; }